<form class="new_note_form" action="/notes" method="post">
  <%= erb :'/notes/_form', :layout => false %>
</form>
<form class="cancel_new_form" action="/notes">
  <input type="submit" value="Cancel">
</form>
