<div class="note_show">
  <h3><%= @note.title %></h3>
  <p><%= @note.content %></p>
  <a class="edit_note_link" href="/notes/<%= @note.id %>/edit">Edit Note</a>
  <a class="delete_note_link" href="/notes/<%= @note.id %>/delete">Delete Note</a>
</div>